/* Hidden checkbox for CSS-only background toggle */
.bg-toggle-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* Apply background when checkbox is checked */
.bg-toggle-checkbox:checked~#bg,
body:has(.bg-toggle-checkbox:checked) {
    background: url(../assets/3dracer.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Hide .bg-text by default, show when checkbox is checked */
.bg-text {
    visibility: hidden;
}

body:has(.bg-toggle-checkbox:checked) .bg-text {
    visibility: visible;
    margin-bottom: 10px;
}

p,
small {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

h3 {
    text-decoration: underline;
    margin-bottom: 15px;
}

a {
    color: #aad1f3;
    -webkit-transition: color 0.2s false;
    -webkit-transition-delay: ease-in;
    -moz-transition: color 0.2s false ease-in;
    -o-transition: color 0.2s false ease-in;
    transition: color 0.15s ease-in;
    transition-delay: 0.1s;
    text-shadow: none;
    background-color: rgba(99, 99, 99, 0.84);
    padding: 4px 5px;
}

body {
    background-color: rgba(127, 43, 124, 0.95);
    font-size: 16px;
    letter-spacing: 0.5px;
}

.content {
    margin-bottom: 70px;
}

.btn-toggle {
    float: right;
    padding: 4px 5px 2px 5px;
    color: white;
    border-color: white;
    margin: 20px;
    cursor: pointer;
    position: sticky;
    top: 10px;
    right: 0;
    z-index: 1;
}

.btn-toggle:hover {
    background-color: #43a4f9b1;
    color: #333;
    border-color: #adadad;
}

hr {
    border-top: 2px solid #eee;
}

a:hover,
a:focus {
    color: #43a5f9;
    text-decoration: none;
}

a .glyphicon {
    color: white;
}

svg path {
    padding-bottom: 0px;
}

.btn-toggle .bi-play {
    color: white;
    padding: 0px;
}

.btn-toggle:hover .bi-play {
    color: white;
}

.tooltip-text {
    visibility: hidden;
    width: 130px;
    font-size: 12px;
    background-color: #43a4f9b1;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -2px;
    right: 105%;
}

.btn-toggle:hover .tooltip-text {
    visibility: visible;
}

.header {
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
}

html {
    position: relative;
    min-height: 100%;
}

#PORTFOLIO ul {
    margin-right: 30px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

.arch a {
    padding: initial;
}

.arch img {
    border: #aad1f3 5px solid;
    padding: 1px;
}

.tooltip-inner {
    color: #000;
    background-color: #fff;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #fff;
}